name: CI

on:
  push:
    branches:
    - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    # The default is 360 (i.e., 6 hours), which can be wasteful. See:
    # https://github.com/Cambridge-ICCS/green-ci/blob/b9e942d81e4d6536d69f3cfbffe28fa14b8ae381/README.md#time-limits
    timeout-minutes: 15
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false
    - run: npm install -g markdownlint-cli
    - uses: langston-barrett/gha/.github/actions/install-taplo@e9a0541869681c30de7e16c4f7b70f03c23dd472
    - uses: langston-barrett/gha/.github/actions/install-typos@e9a0541869681c30de7e16c4f7b70f03c23dd472
    - uses: langston-barrett/gha/.github/actions/install-zizmor@e9a0541869681c30de7e16c4f7b70f03c23dd472
    - uses: langston-barrett/lun/.github/actions/install-lun@4ff0bb8913126e9f4660c6fb2a10e868e709c9b7
    - uses: langston-barrett/mdlynx/.github/actions/install-mdlynx@a7a1539ea9a2af88e7eccb30278c7716af760745
    - uses: langston-barrett/ttlint/.github/actions/install-ttlint@13378504b86ee7c2f5f97f81d65992cc4dde01bb
    - run: env PATH=$PATH:$PWD lun --color=always run --check
